* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.slide-wrapper {
    overflow: hidden;
    background: rgba(182, 161, 161, 0.165);
}

.slide {
    display: flex;

}



.slide li{
    width: 80vw;
    flex-shrink: 0;
    max-width: 800px;
    margin: 0px 20px;
}
.slide img{
    width:50vw;
}

